@tailwind base;
@tailwind components;
@tailwind utilities;

  
/* Custom styles to
 ensure scrolling works */
.menu-container {
    position: fixed;  /* Keeps the menu fixed on the screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  /* Full height */
    max-height: 100vh; /* Maximum height of the viewport */
    overflow-y: auto;  /* Allows scrolling if the content overflows */
    z-index: 1000;  /* Make sure it’s on top */
  }
  body.menu-open {
    overflow: scroll
  }
  
  /* For mobile menu - menu items */
  .menu-items {
    display: flex;
    flex-direction: column;  /* Stacking items vertically */
    gap: 1rem;
    padding: 2rem;
    background-color: #FDEECB;
    height: 100%;
    overflow-y: auto;  /* Allow scrolling if menu items overflow */
  }
  
  @media (max-width: 768px) {
    .menu-items {
      padding: 1rem;
    }
  }
  